@import "src/styles/mixins.scss";
@import "src/styles/variables.scss";

.container {
  --traingle-width: 165px;
  --traingle-height: 60px;
  padding: 0 1rem;
  @include md-and-above {
    --traingle-width: 290px;
    --traingle-height: 60px;
    padding: 0 5rem;
    padding-bottom: 2rem;
  }
  @include lg-and-above {
    --traingle-width: 390px;
    --traingle-height: 60px;
    padding: 0 5rem;
    padding-bottom: 2rem;
  }

  h1 {
    font-size: 1.9rem;
    font-weight: 500;
    color: $gauntlet-text-color-light-blue;
    @include md-and-below {
      font-size: 1.7rem;
      text-align: center;
      margin-bottom: 2rem;
    }
  }
  .flexContainer {
    @include flex(center);
    flex-direction: column;

    h1 {
      margin-top: 3rem;
    }
    .logosContainer {
      @include lg-and-above {
        max-width: 80%;
      }

      .complianceLogos {
        flex-wrap: wrap;
        @include flex(center);
        border-radius: 10px;
        .logo {
          height: 100px;
          width: 100px;
          @include md-and-above {
            height: 140px;
            width: 140px;
          }
          position: relative;
          margin: 1rem;
          img {
            object-fit: contain;
          }
        }
      }
    }
  }
  .triangle {
    height: 0;
    width: 0;
    border-right: var(--traingle-width) solid transparent;
    border-left: var(--traingle-width) solid transparent;
  }
  .topTriangle {
    border-bottom: var(--traingle-height) solid $gauntlet-bg-color-light;
  }
  .bottomTriangle {
    border-top: var(--traingle-height) solid $gauntlet-bg-color-light;
  }
  .cardContent {
    padding: 40px 20px;
    @include md-and-above {
      padding: 40px 80px;
    }
    width: calc(var(--traingle-width) * 2);
    background-color: $gauntlet-bg-color-light;
  }
}

.drop {
  animation: drop 1s;
}

@include dropAnimation();
