@import "src/styles/mixins.scss";
@import "src/styles/variables.scss";

.navBar {
  @include flex(space-between);
  padding: 2rem 5rem;
  h3 {
    font-weight: 500;
    text-transform: lowercase;
    color: #fff;
    &:hover {
      cursor: pointer;
      color: inherit;
    }
  }
}

.flexContainer {
  padding: 0 5rem;
  margin-top: 3rem;
  @include flex("");
  .textContent {
    h1 {
      font-size: 4.5rem;
      font-weight: 600;
      background: linear-gradient(89.61deg, #acf8ff 13.4%, #fff27a 129.52%);
      background-clip: text;
      -webkit-background-clip: text;
      -moz-background-clip: text;
      -webkit-text-fill-color: transparent;
      -moz-text-fill-color: transparent;
    }
    p {
      max-width: 470px;
      font-size: 1.6rem;
      font-weight: 600;
      margin: 0;
    }
  }
  .imagesBox {
    margin-left: 5rem;
    width: 514px;
    height: 288px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.233);
    position: relative;
    img {
      object-fit: cover;
      border-radius: inherit;
    }
  }
}
