@import "src/styles/variables.scss";
@import "src/styles/mixins.scss";

.card {
  border-radius: 5px;
  background: $bg-color-menu-light-blue;
  padding: 1.2rem;
  font-size: 1.2rem;
  text-align: center;
  margin: 12px;
  width: 290px;
  height: 400px;
  overflow: hidden;

  .thumbnailContainer {
    @include flex(center);
    .thumbnail {
      height: 150px;
      width: 150px;
      position: relative;
      img {
        object-fit: cover;
        border-radius: 50%;
      }
    }
  }

  .contentContainer {
    margin-top: 1rem;

    .designation {
      margin: 0.5rem;
      @include flex(center);
      align-items: flex-start;
    }
    .designation > h5 {
      display: inline-block;
      color: $nav-hover-link-color;
      margin-right: 0.5rem;
    }
    h4 {
      font-size: 1rem;
      font-weight: 500;
      color: #5a5a5a;
      margin-top: 0.5rem;
    }
  }
}
