@import "src/styles/mixins.scss";
@import "src/styles/variables.scss";

.container {
  font-size: 1.1rem;
  .aboutUsImage {
    height: 150px;
    width: 150px;
    position: relative;
    float: right;
    margin: 0 0 1rem 1rem;
    img {
      object-fit: cover;
      border-radius: 10px;
    }
  }
}

.leadershipContainer {
  @include flex(center);
  flex-flow: row wrap;
}

.securityEventsContainer {
  h2 {
    margin: 2rem 0;
  }

  .logosContainer {
    .conferenceLogos {
      padding: 2rem;
      background-color: $bg-color-card;
      flex-wrap: wrap;
      @include flex(center);
      .logo {
        height: 50px;
        width: 50px;
        @include md-and-above {
          height: 80px;
          width: 80px;
        }
        position: relative;
        margin: 1rem;
        img {
          object-fit: contain;
        }
      }
    }
  }
}

@keyframes slideshow {
  0% {
    left: 0;
  }
  100% {
    left: -200%;
  }
}
