@import "src/styles/mixins.scss";

.container {
  font-size: 1.1rem;
  .aboutUsImage {
    height: 150px;
    width: 150px;
    position: relative;
    float: right;
    margin: 0 0 1rem 1rem;
    img {
      object-fit: cover;
      border-radius: 10px;
    }
  }
}

.leadershipContainer {
  @include flex(center);
  flex-flow: row wrap;
}
