@import "src/styles/mixins.scss";
@import "src/styles/variables.scss";

.bodyContainer {
  background-color: $gauntlet-bg-color;
  color: #c3ebff;
  .contentContainer {
    max-width: 1280px;
    margin: 0 auto;
  }
}
