@import "./breakpoints.scss";

@mixin flex($justify) {
  display: flex;
  align-items: center;
  justify-content: $justify;
}

@mixin hover($className: "") {
  @media (hover: hover),
    all and (-ms-high-contrast: none),
    (-ms-high-contrast: active) {
    &:hover #{$className} {
      @content;
    }
  }
}

@mixin sm-and-above {
  @media (min-width: #{$screen-sm-min}) {
    @content;
  }
}

// Medium devices
@mixin md-and-above {
  @media (min-width: #{$screen-md-min}) {
    @content;
  }
}

// Medium devices
@mixin md-and-below {
  @media (max-width: #{$screen-md-min}) {
    @content;
  }
}

// Large devices
@mixin lg-and-above {
  @media (min-width: #{$screen-lg-min}) {
    @content;
  }
}

// Extra large devices
@mixin xl-and-above {
  @media (min-width: #{$screen-xl-min}) {
    @content;
  }
}

@mixin dropAnimation($dropValue: "-80px") {
  @keyframes drop {
    from {
      transform: translateY(#{$dropValue});
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}
