$bg-color-light-blue: #e9f7ff;
$bg-color-dark-blue: #13507c;
$bg-color-menu-light-blue: #d9f3ff;
$bg-color-product-security-assessment-light-blue: #dcf2ff;
$bg-color-card: #d2efff;

$link-button-bg-color: #bbe9ff;

$item-border-light-blue: #0b8ccc;
$heading-background-gradient-blue: linear-gradient(
  102.57deg,
  #124f7b 55.39%,
  #e2e5e8 181.19%
);

$nav-hover-link-color: #00d1ff;

$contact-us-bg: linear-gradient(102.57deg, #124f7b 32.39%, #e2e5e8 181.19%);
$contact-us-color: #cfebff;

$max-window-width: 1000px;
/*if the nav bar height changes for any reason, measure its height manually and update its value in px here
 That will hep sticky headers stick accurately beneath the header*/
$top-nav-bar-height: 91px;
$main-page-heading-text-color: #343434;
$testimonial-indicator-circle-bg-inactive: #d9d9d9;
$testimonial-indicator-circle-bg-active: #bbe9ff;
