@import "src/styles/variables.scss";
@import "src/styles/mixins.scss";

.container {
  background: linear-gradient(102.57deg, #124f7b 55.39%, #e2e5e8 181.19%);
  @include md-and-above {
    background: linear-gradient(102.57deg, #124f7b 32.39%, #3a77a3 181.19%);
  }
}

.content {
  @include flex(flex-start);
  max-width: $max-window-width;
  margin: 0 auto;
  padding: 0 0 0 1.5rem;
  height: 200px;
  @include md-and-above {
    height: 220px;
  }
  @include lg-and-above {
    height: 320px;
  }
}

.heading {
  font-family: "SegoeUI";
  font-size: min(1.05vw + 0.8rem, 2rem);
  h2 {
    font-weight: 600;
    color: #fff;
    margin: 0;
    span {
      color: $nav-hover-link-color;
    }
  }

  p {
    color: #dadada;
    font-weight: 100;
    max-width: 90%;
    font-size: 0.8rem;
    @include lg-and-above {
      font-size: 1.4rem;
    }
  }
}

.image {
  height: 100%;
  width: 80%;
  position: relative;

  .mask {
    height: 100%;
    width: 100%;
    background-color: #1b598570;

    @include md-and-above {
      background-color: #1b598570;
    }
    position: absolute;
  }

  img {
    object-fit: cover;
    opacity: 1;
  }
}
