@import "src/styles/mixins.scss";
@import "src/styles/variables.scss";

.container {
  filter: drop-shadow(-1px 6px 3px hwb(0 0% 100% / 0.267));
  .skewedRectangle {
    position: relative;
    width: 100%;
    background: $gauntlet-bg-color-light;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 97%);
    @include sm-and-above {
      clip-path: polygon(0 0, 100% 0, 95% 88%, 4% 80%);
      height: 550px;
    }
  }
}
