@import "src/styles/mixins.scss";
@import "src/styles/variables.scss";

.container {
  filter: drop-shadow(-1px 6px 3px hwb(0 0% 100% / 0.267));
  max-width: 1280px;
  margin: 0 auto;
  .skewedRectangle {
    position: relative;
    height: 300px;
    width: 100%;
    background: $bg-color-light-gauntlet;
    clip-path: polygon(0 0, 100% 0, 92% 86%, 4% 77%);
    @include md-and-above {
      height: 600px;
    }
  }
}
