@import "src/styles/mixins.scss";
@import "src/styles/variables.scss";

.container {
  background-color: $bg-color-light-blue;
  position: sticky;
  top: 0;
  z-index: 1;
}

.header {
  @include flex(space-between);
  padding: 1rem;
  max-width: $max-window-width;
  margin: 0 auto;

  .logoContainer {
    margin-left: 1rem;
  }

  .logo {
    transform: scale(0.9);
  }
  .actions {
    @include flex(space-between);
    h4 {
      margin: 0 2rem;
      a {
        text-decoration: none;
        color: inherit;
        &:hover {
          color: $nav-hover-link-color;
        }
      }
    }

    .contact {
      border: 2px solid $item-border-light-blue;
      border-radius: 5px;
      padding: 4px 10px;
      margin-right: 0;
      &:hover {
        background: $bg-color-dark-blue;
        color: #fff;
        cursor: pointer;
      }
    }

    .menuIcon {
      color: red;
    }
  }
}
