@import "src/styles/mixins.scss";
@import "src/styles/variables.scss";

.container {
  .headerContainer {
    background: $heading-background-gradient-blue;
    color: white;
    .header {
      max-width: $max-window-width;
      margin: 0 auto;
      padding: 1rem;
      h1 {
        margin: 0;
        font-weight: 500;
        font-size: 1.7rem;
      }
    }
  }
  .navbarAndMainContentContainer {
    max-width: $max-window-width;
    margin: 0 auto;

    .navbarAndMainContent {
      margin: 1rem;
      @include md-and-above {
        display: flex;
        margin: 1.5rem;
      }

      nav {
        @include md-and-above {
          position: sticky;
          top: $top-nav-bar-height;
          border-right: 7px solid $item-border-light-blue;
        }
        align-self: flex-start;
      }

      nav ul {
        list-style: none;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        @include md-and-above {
          flex-direction: column;
        }
      }
      nav li {
        font-weight: bold;
        width: 50%;
        @include md-and-above {
          font-size: initial;
          min-width: 220px;
          margin: 0.7rem;
          flex: none;
        }
        font-size: 0.9rem;
      }
      nav li a {
        text-decoration: none;
        color: #000;
        display: inline-block;
        @include hover() {
          color: $nav-hover-link-color;
        }
        padding: 0.5rem;
      }

      .selectedLink a {
        @include md-and-below {
          background: $bg-color-dark-blue;
          color: #fff;
        }
      }

      .selectedLink {
        @include md-and-above {
          box-shadow: -7px 0 0 $item-border-light-blue;
        }
      }

      .mainContent {
        @include md-and-above {
          padding: 0 2rem;
          flex: 1;
        }
      }
    }
  }
}
