@import "src/styles/mixins.scss";
@import "src/styles/variables.scss";

.container {
  .headerContainer {
    background: $heading-background-gradient-blue;
    color: white;
    .header {
      max-width: $max-window-width;
      margin: 0 auto;
      padding: 1rem;
      h1 {
        margin: 0;
        font-weight: 500;
        font-size: 1.7rem;
      }
    }
  }
  .navbarAndMainContentContainer {
    max-width: $max-window-width;
    margin: 0 auto;

    .navbarAndMainContent {
      margin: 1.5rem;
      @include md-and-above {
        display: flex;
      }

      nav {
        @include md-and-above {
          max-width: 290px;
          border-right: 7px solid $item-border-light-blue;
        }
        position: sticky;
        top: $top-nav-bar-height;
        align-self: flex-start;
      }

      nav ul {
        list-style: none;

        padding: 0;
        display: flex;
        flex-flow: row wrap;
      }
      nav li {
        margin: 1rem;
        padding: 0.6rem;
        font-weight: bold;
        max-width: 100px;
        font-size: 0.9rem;
        @include md-and-above {
          font-size: initial;
          max-width: initial;
        }
      }
      nav li a {
        text-decoration: none;
        color: #000;
        &:hover {
          color: $nav-hover-link-color;
        }
      }

      .selectedLink {
        box-shadow: 0 4px 0 $item-border-light-blue;
        @include md-and-above {
          box-shadow: -7px 0 0 $item-border-light-blue;
        }
      }

      .mainContent {
        @include md-and-above {
          padding: 0 2rem;
        }
      }
    }
  }
}
