@import "src/styles/mixins.scss";

.solutionsContainer {
  margin: 1.5rem;
}

.servicesContainer {
  h2 {
    color: #343434;
    text-transform: uppercase;
    margin: 1.5rem 0;
  }
  .psAssessmentsContainer {
    padding: 1rem;
    border-radius: 5px;
    background-color: #dcf2ff;
    .heading {
      text-transform: uppercase;
      color: grey;
      text-align: center;
      margin: 1rem 0;
    }
  }

  .servicesItemsContainer {
    @include flex(space-around);
    margin-top: 3rem;
    flex-flow: row wrap;
  }

  .serviceItemContainer {
    flex: 1 180px;
    height: 200px;
    text-align: center;
    text-decoration: none;
    color: #000;
    font-family: "SegoeUI";
    @include flex(flex-start);
    flex-direction: column;
    .serviceItem {
      @include flex(center);
      border-radius: 50%;
      height: 100px;
      width: 100px;
      background: linear-gradient(101.2deg, #bbe9ff 15.01%, #d8f3ff 133.1%);
      box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25), 0 0 0 6px #13507c;
      transition: box-shadow 0.2s ease-out;
      svg {
        transform: scale(0.8);
      }
    }
    &:hover .serviceItem {
      box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25), 0 0 0 6px #13507c,
        0 0 6px 12px #a6e0fb;
    }
    &:active .serviceItem {
      transform: scale(0.98);
    }
    .label {
      font-weight: 700;
    }
  }
}

.productsContainer {
  h2 {
    color: #343434;
    text-transform: uppercase;
    margin: 1.5rem 0;
  }

  .productsItemsContainer {
    @include flex(space-around);
    flex-flow: row wrap;
  }

  .productItem {
    @include flex(center);
    margin: 1.5rem;
    font-family: "SegoeUI";
    text-align: center;
    text-decoration: none;
    color: #000;
    border-radius: 10px;
    height: 100px;
    width: 200px;
    background: linear-gradient(101.2deg, #bbe9ff 15.01%, #d8f3ff 133.1%);
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25), 0 0 0 6px #13507c;
    transition: box-shadow 0.2s ease-out;
    svg {
      transform: scale(0.8);
    }
    &:hover {
      cursor: pointer;
    }
    &:hover {
      box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25), 0 0 0 6px #13507c,
        0 0 6px 12px #a6e0fb;
    }
    &:active {
      transform: scale(0.98);
    }
    .label {
      font-weight: 700;
      max-width: 100px;
    }
  }
}
