@import "src/styles/mixins.scss";
@import "src/styles/variables.scss";

.footerContainer {
  @include flex(space-between);
  flex-direction: column;
  text-align: center;
  color: #fff;
  background: $contact-us-bg;
  padding: 1rem;
  position: sticky;
  right: 0;
  left: 0;

  @include md-and-below {
    font-size: 0.9rem;
  }

  h1 {
    color: $contact-us-color;
    margin-top: 0.8rem;
  }
  h3 {
    margin: 0.8rem 0;
    font-weight: 600;
    span {
      color: $contact-us-color;
    }
  }
  h6 {
    margin: 1rem 0;
  }
}
