@import "src/styles/mixins.scss";
@import "src/styles/variables.scss";

.container {
  .headingAndImageContainer {
    @include flex(space-between);
    height: 150px;
    position: sticky;
    top: $top-nav-bar-height;
  }
  .image {
    height: 100%;
    width: 100%;
    position: relative;
    img {
      object-fit: cover;
    }
  }
  h2 {
    position: absolute;
    z-index: 2;
    padding-left: 1rem;
    max-width: 300px;
    height: 70px;
    color: white;
  }
}
