@import "src/styles/mixins.scss";

.container {
  @include md-and-below {
    margin-top: 2rem;
  }

  h2 {
    text-align: center;
    text-transform: uppercase;
  }

  .content {
    margin-top: 1rem;
  }
}
