@import "./breakpoints.scss";

@mixin flex($justify) {
  display: flex;
  align-items: center;
  justify-content: $justify;
}

@mixin sm-and-above {
  @media (min-width: #{$screen-sm-min}) {
    @content;
  }
}

// Medium devices
@mixin md-and-above {
  @media (min-width: #{$screen-md-min}) {
    @content;
  }
}

// Large devices
@mixin lg-and-above {
  @media (min-width: #{$screen-lg-min}) {
    @content;
  }
}

// Extra large devices
@mixin xl-and-above {
  @media (min-width: #{$screen-xl-min}) {
    @content;
  }
}
